.platform-order-name {
    img.provider-logo {
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }
    .order-status {
        font-size: 0.75rem !important;
    }
}

.mobileOrderList .platform-order-name {
    img.provider-logo {
        width: 24px;
        height: 24px;
        border-radius: 4px;
    }
}
